body {
	background-color: #F2F2F2;
}
.masthead {
	background-image: url("http://i.imgur.com/mqeJyRw.jpg");
	background-size: cover;
	height: 155px;
	opacity: 0.8;
	

}

.headline {
	text-align: center;
	display: block;
	font-family: 'Pacifico', cursive;
	color: black;
	font-size: 4.5rem;
	padding-top: 5px;
}

.inputbox {
	text-align: center;
	display: block;
	padding-top: 50px;
}

.have{

		text-align: center;
		font-family: 'Shadows Into Light', cursive;
		display: inline-block;
		padding-left: 250px;
		font-size: 1.5rem;

}

.need {

		text-align: center;
		font-family: 'Shadows Into Light', cursive;
		display: inline-block;
		padding-left: 200px;
		font-size: 1.5rem;
		vertical-align: top;

	
}

.need h1, .have h1 {
	text-align: center;
	padding-top: 50px;
}


footer {
	padding-top: 200px;
	text-align: center;
}

h4 {
	width: 100px;
	height: 30px;
	margin: 0 auto;
}

h4:hover {
	cursor: pointer;
	background-color: green;
}