body {
	background-color: #F2F2F2;

}

div {
	margin: bottom: 100px;
}
.masthead {
	background-image: url("http://i.imgur.com/mqeJyRw.jpg");
	background-size: cover;
	height: 155px;
	opacity: 0.8;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
	

}

.headline {
	text-align: center;
	display: block;
	font-family: 'Pacifico', cursive;
	color: black;
	font-size: 4.5rem;
	padding-top: 5px;
}

.inputbox {
	text-align: center;
	display: block;
	padding-top: 50px;
}

input {
	text-align: center;
	font-size: 1.8rem;
	border-style: none;
	background-color:#F2F2F2;
	font-color: black;
}

input:hover {
	background-color: white;
}

.have{

		text-align: center;
		font-family: 'Shadows Into Light', cursive;
		display: inline-block;
		font-size: 1.5rem;

}

.need {

		text-align: center;
		font-family: 'Shadows Into Light', cursive;
		display: inline-block;
		font-size: 1.5rem;
		vertical-align: top;
}

.have, 
.need {
	float: left;
	width: 40%;
	margin: 0 auto;
}

#lists {
	height: 100px
	width: 80%;
	margin: 0 auto;
	background-color: black;
}

ul {
	list-style: none;
}

.need h1, .have h1 {
	text-align: center;
	padding-top: 50px;
}


footer {
	padding-top: 200px;
	text-align: center;
	clear: left;
}

li {
	width: 200px;
	height: 30px;
	margin: 0 auto;
	padding-bottom: 10px;
	font-size: 1.3rem;
}

li:hover {
	cursor: pointer;
	background-color: #DEDEDE;
	border-radius: 15%;
}

button {
	display: inline-block;
	color: red;
	background: none;
	border: none;
	padding-left: 15px;
}

ul{
	text-align: center;
	margin: 0 auto;
}


::-webkit-input-placeholder {
   color: black;

}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}