body {
	background-color: #F2F2F2;

}

div {
	margin: bottom: 100px;
}

#lists {
	width: 100%;
	margin: 0 auto;
}
.masthead {
	background-image: url("https://i.imgur.com/mqeJyRw.jpg");
	background-size: cover;
	height: 155px;
	opacity: 0.8;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
	

}

.headline {
	text-align: center;
	display: block;
	font-family: 'Pacifico', cursive;
	color: black;
	font-size: 4.5rem;
	padding-top: 5px;
}

.inputbox {
	text-align: center;
	display: block;
	padding-top: 50px;
	font-family: 'Shadows Into Light';
	

}

input {
	text-align: center;
	font-size: 1.8rem;
	/* outline-color: #474747;*/
	background-color:#F2F2F2;
	font-size: 3rem;
	outline: none;
	border: 0px;
}

input:hover {
	background-color: white;
}

.have{

		text-align: center;
		font-family: 'Shadows Into Light', cursive;
		display: inline-block;
		font-size: 1.5rem;

}

.need {

		text-align: center;
		font-family: 'Shadows Into Light', cursive;
		display: inline-block;
		font-size: 1.5rem;
		vertical-align: top;
}

.have, 
.need {
	width: 45%;
	margin: 0 auto;
}



ul {
	list-style: none;
	padding: 0;
}

.need h1, .have h1 {
	text-align: center;
	padding-top: 50px;
}


footer {
	padding-top: 200px;
	text-align: center;
	clear: left;
}

li {
	width: 200px;
	height: 30px;
	margin: 0 auto;
	padding-bottom: 10px;
	font-size: 1.3rem;
}

li:hover {
	cursor: pointer;
	background-color: #DEDEDE;
	border-radius: 15%;
}

button {
	display: inline-block;
	color: red;
	background: none;
	border: none;
	padding-left: 15px;
}

ul{
	text-align: center;
	margin: 0 auto;
}


::-webkit-input-placeholder {
   color: black;

}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

@media only screen and (max-width: 790px) {
    .headline {
    	font-size: 3.5rem;
    }

  
}

@media only screen and (max-width: 635px) {
    .headline {
    	font-size: 3rem;
    }

  
}

@media only screen and (max-width: 533px) {
    .masthead {
    	height:175px;
    }
	.need {
		display: block;
	}

	.have {
		width: 98%;
	}
  
}


/*
.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

*/